<div id="new_farm_store_item" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>New Item</h1>
    </div><!-- col -->
  </div><!-- row -->

  <%= render :partial => 'farm_store_items/form' %>
</div><!-- cont -->
